@import './../../../styles.scss';

.login-bg{
    height: 100dvh;
    width: 100vw;
    @include displayFlex();
    
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.8) -27.44%, rgba(0, 0, 0, 0.44) 44.23%, rgba(0, 0, 0, 0.8) 100%),
        url('./../../../assets/img/login-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.content{
    height: 466px;
    width: 520px;
    background-color: white;
    border-radius: 48px;
    @include displayFlex($fd:column, $jc:space-between);
    padding: 43px 56px;
}
 
.blue-link{
    font-size: 18px;
    font-weight: 700;
    color: $blue;
    text-decoration: none;

    &:hover{
        cursor: pointer;
        scale: 1.01;
    }
}

.login-bottom{
    width: 100%;
    @include displayFlex();
    gap: 16px;

    >span{
        font-weight: 500;
        font-size: 18px;
    }
}

.checkbox-div{
    width: 100%;
    @include displayFlex($jc:flex-start);
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    position: relative;
    padding-left: 30px;
  }
  
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid $blue;
    border-radius: 4px;
    transition: all 0.1s, border 0.2s;
  }
  
  .checkbox-container input:checked + .checkmark {
    background-color: $blue;
    border-color: $blue;
  }
  
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: -1px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-container input:checked + .checkmark::after {
    display: block;
  }

  .pw-input-container{
    position: relative;
    width: 100%;
  }

  .visibility-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 24px;
    
    &:hover{
        cursor: pointer;
        scale: 1.02;
    }
  }

  .error-div{
    font-size: 15px;
    color: rgba(255, 0, 46, 1);
    width: 100%;
    @include displayFlex($jc:flex-start);

    >img{
        margin-right: 4px;
    }
  }

  .hidden{
    display: none;
  }

  @media(max-width:600px){
    .content{
      width: 90%;
      padding: 43px 24px;
    }

    .login-bottom{
      >span{
        font-size: 16px;
        text-align: center;
        line-height: 20px;
      }

      >a{
        font-size: 18px;
        text-align: center;
      }
    }
  }