@import './../../../styles.scss';

.login-bg{
    height: 100dvh;
    width: 100vw;
    @include displayFlex();
    
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.8) -27.44%, rgba(0, 0, 0, 0.44) 44.23%, rgba(0, 0, 0, 0.8) 100%),
        url('./../../../assets/img/login-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 
