<div class="forgot-pw-bg">
    <app-header></app-header>

    <div class="content">
        <h1>Forgot your <br> password?</h1>
        
        <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
            <span>We will send you an email with instructions to reset your password.</span>
            <input type="text" placeholder="Email Address" [(ngModel)]="email" required email name="email" #emailInput="ngModel"
                [ngClass]="{ 'invalid-input': signupForm.submitted && emailInput.invalid}">

            @if(signupForm.submitted && emailInput.invalid){
                <div class="error-div">
                    <img src="./../../../assets/img/warning.png" alt="">
                    <span>Please enter a valid email address.</span>
                </div>
            }
            <button class="btn" type="submit" [disabled]="email.length < 3">Send Email</button>
        </form>
        
    </div>

    <app-footer [usecase]="'login'"></app-footer>
</div>

<app-toast [show]="showToastMessage"></app-toast>