<div class="main-page-bg">
    <app-header [usecase]="'main'"></app-header>

    <div class="max-width-container main">

        <video src="./../../assets/vid/breakout.mp4" loop autoplay muted playsinline></video>
        <div class="main-video-filter"></div>

        <div class="video-info-wrapper">
            <div class="video-info">
                <h2>Breakout</h2>
                <span class="description">In a high-security prison, a wrongly convicted man formulates a meticulous plan 
                    to break out and prove his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and 
                    expose the truth.
                </span>
                <button class="btn play" (click)="playVideo(62, $event)"><img src="./../../assets/img/play_arrow.png"> Play</button>
            </div>
        </div>
        
       
            <div class="category-div new">
                <span class="category-title">New on Videoflix</span>
                <div class="thumbnail-row" #thumbnailRow (mousedown)="startDrag($event, $event.currentTarget)" (mousemove)="drag($event)" (mouseup)="endDrag()" (mouseleave)="endDrag()">
                    @for (video of newVideos; track $index) {
                        <img [src]= "video.thumbnail" class="thumbnail-img" (click)="playVideo(video.id, $event)" (mouseup)="onMouseUpForImage($event)">
                    }
                </div>
            </div>
                
    </div>
</div>


<div class="video-content-bg">
    <div class="max-width-container">

        <div class="category-div new-mobile">
            <span class="category-title">New on Videoflix</span>
            <div class="thumbnail-row" #thumbnailRow (mousedown)="startDrag($event, $event.currentTarget)" (mousemove)="drag($event)" (mouseup)="endDrag()" (mouseleave)="endDrag()">
                @for (video of newVideos; track $index) {
                    <img [src]= "video.thumbnail" class="thumbnail-img" (click)="playVideo(video.id, $event)" (mouseup)="onMouseUpForImage($event)">
                }
            </div>
        </div>
    
        @for (genreKey of getVideoGenres(); track $index) {
            <div class="category-div genre">
                <span class="category-title">{{ genreKey }}</span>
                <div class="thumbnail-row" #thumbnailRow (mousedown)="startDrag($event, $event.currentTarget)" (mousemove)="drag($event)" (mouseup)="endDrag()" (mouseleave)="endDrag()">
                    @for (video of sortedVideos[genreKey]; track $index) {
                        <img [src]= "video.thumbnail" class="thumbnail-img" (click)="playVideo(video.id, $event)" (mouseup)="onMouseUpForImage($event)">
                    }
                </div>
            </div>
        }

        <app-footer [usecase]="'main'"></app-footer>
    </div>
</div>
