<div class="main-page-bg">
    <app-header [usecase]="'main'"></app-header>

    <video src="./../../assets/vid/breakout.mp4" loop autoplay muted playsinline></video>

    <div class="video-info-wrapper">
        <div class="video-info">
            <h2>Breakout</h2>
            <span class="description">In a high-security prison, a wrongly convicted man formulates a meticulous plan 
                to break out and prove his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and 
                expose the truth.
            </span>
            <button class="btn"><img src="./../../assets/img/play_arrow.png" alt=""> Play</button>
        </div>
    </div>
    
    <div class="category-div new">
        <span class="category-title">New on Videoflix</span>
        <div class="thumbnail-row">
            <img src="./../../assets/img/thumbnails/rhythms_of_friendship.jpeg" class="thumbnail-img">
        </div>
    </div>
</div>


<div class="video-content-bg">
    <div class="category-div">
        <span class="category-title"></span>
    </div>
</div>
