<div class="landing-page-bg">
    <app-header [usecase]="'landing-page'"></app-header>

    <div class="content">
        <h1>Movies, TV shows, and more</h1>
        <span class="content-span">Enter your email to create or restart your subscription.</span>
        <div class="input-div">
            <input type="text" placeholder="Email Address" spellcheck="false" [(ngModel)]="userInput">
            <button class="signup-btn" (click)="checkUserInput()">Sign Up <img src="./../../assets/img/chevron_right.png" alt=""></button>
        </div>
    </div>

    <app-footer [usecase]="'landing-page'"></app-footer>
</div>
