<div class="landing-page-bg">
    <header>
        <img src="./../../assets/img/Logo.png" alt="">
        <a href="login" class="login-btn">Log In</a>
    </header>

    <div class="content">
        <h1>Movies, TV shows, and more</h1>
        <span class="content-span">Enter your email to create or restart your subscription.</span>
        <div class="input-div">
            <input type="text" placeholder="Email Address" spellcheck="false" [(ngModel)]="userInput">
            <button class="signup-btn" (click)="checkUserInput()">Sign Up <img src="./../../assets/img/chevron_right.png" alt=""></button>
        </div>
    </div>

    <footer>
        <a href="" class="footer-link">Datenschutz</a>
        <a href="" class="footer-link">Impressum</a>
    </footer>

</div>
