
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
  }


@font-face {
    font-family: "DM Sans";
    src: url(./assets/fonts/DMSans-VariableFont.ttf);
    font-style: normal;
  }


@mixin displayFlex($jc: center, $ai: center, $fd: row,){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}


$blue: rgba(46, 62, 223, 1);
$hover-blue: rgba(50, 68, 226, 1);

 $da-blue: rgba(56, 75, 230, 1);


.btn{
  height: 48px;
  text-decoration: none;
  border-radius: 40px;
  background-color: $blue;
  color: white;
  @include displayFlex();
  font-size: 18px;
  font-weight: 700;
  border: none;
  padding: 12px 24px;

  &:hover{
      scale: 1.01;
      background-color: $hover-blue;
      cursor: pointer;
  }
}

h1{
  font-size: 48px;
  font-weight: 700;
  color: $blue;
}

input{
  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid $blue;
  font-size: 18px;
  color: $blue;

  &::placeholder{
    font-size: 18px;
    color: $blue;
  }

  &:focus{
    outline: none;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &:-webkit-autofill{
    -webkit-text-fill-color: $blue;
  }
}


.hidden{
  opacity: 0;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #424242;
}

::-webkit-scrollbar-track {
  background: rgba(20, 20, 20, 1);
}