
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
  }


@font-face {
    font-family: "DM Sans";
    src: url(./assets/fonts/DMSans-VariableFont.ttf);
    font-style: normal;
  }


@mixin displayFlex($jc: center, $ai: center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}


$blue: rgba(46, 62, 223, 1);

